<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container p-3">
    <form action="/admin/courses" method="get">
        <div class="">
            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{coursesList.courseName}"></span>
                <input class="form-control" aria-label="With textarea" type="text" name="courseName"
                       placeholder="Назва дисципліни">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{coursesList.duration}"></span>
                <input class="form-control" aria-label="With textarea" type="number" name="duration"
                       placeholder="Тривалість" th:min="1" th:max="2">
            </div>
            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{coursesList.courseName}"></span>
                <input class="form-control" aria-label="With textarea" type="number" name="capacity"
                       placeholder="Кількість студентів" th:min="10" th:max="150">
            </div>
            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{coursesList.courseName}"></span>
                <input class="form-control" aria-label="With textarea" type="text" name="topic" placeholder="Топік">
            </div>
            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{coursesList.courseName}"></span>
                <input class="form-control" aria-label="With textarea" type="text" name="teacher"
                       placeholder="ПІБ викладача">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" th:text="#{coursesList.filter}">Filter</button>
    </form>

    <div class="col-lg-10 mt-5 mb-5">
        <table class="table table-bordered table-responsive-sm">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{coursesList.title}"></th>
                <th th:text="#{coursesList.description}"></th>
                <th th:text="#{coursesList.capacity}"></th>
                <th th:text="#{coursesList.semesterStart}"></th>
                <th th:text="#{coursesList.duration}"></th>
                <th th:text="#{coursesList.teacher}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses.page}">
                <td th:text="${course.getId()}">id</td>
                <td><a th:href="@{/courses/{id} (id=${course.getId})}" th:text="${course.getName()}"/></td>
                <td th:text="${course.getDescription()}"/>
                <td th:text="${course.getCapacity()}"/>
                <td th:text="${course.getSemesterStart()}"/>
                <td th:text="${course.getSemesterDuration()}"/>
                <td th:text="${course.getTeacher().getLastName()} + ' ' + ${course.getTeacher().getFirstName().charAt(0)} + '.' + ${course.getTeacher().getSecondName().charAt(0)} + '.' "/>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation" class="paging">
            <ul class="pagination" th:if="${courses.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!courses.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{'/admin/courses?pageNumber=' + ${courses.paging.pageNumber - 1} + '&courseName='+${courseName}+ '&duration='+${duration}+ '&capacity='+${capacity}  +'&topic='+${topic} + '&teacher='+${teacher}}"
                       tabindex="-1" th:text="#{coursesList.previous}"></a>
                </li>
                <th:block th:each="item : ${courses.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == courses.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link"
                           th:href="@{'/admin/courses?pageNumber=' + ${item.index} + '&courseName='+${courseName}+ '&duration='+${duration}+ '&capacity='+${capacity}  +'&topic='+${topic} + '&teacher='+${teacher}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!courses.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{'/admin/courses?pageNumber=' + ${courses.paging.pageNumber + 1} + '&courseName='+${courseName}+ '&duration='+${duration}+ '&capacity='+${capacity}  +'&topic='+${topic} + '&teacher='+${teacher}}" th:text="#{coursesList.next}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>