<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container p-3">

    <div class="d-flex justify-content-center">
        <h1>Редагувати курс</h1>
    </div>
    <form th:action="@{/admin/courses/{id} (id=${course.getId()})}"
          method="post">
        <div class="input-group p-1">
            <input class="form-control" aria-label="With textarea" type="text" th:value="${course.getName()}"
                   th:name="name">
            <button type="submit" class="btn btn-success" th:name="action" th:value="save">save</button>
            <button type="submit" class="btn btn-danger" th:name="action" th:value="delete">delete</button>
        </div>
    </form>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>