
<div th:fragment="creationPanel" class="mt-4">
    <ul class="nav justify-content-center align-content-center">
        <li class="col-4 list-group-item text-center">
            <a class="nav-link d-inline-flex" th:href="@{/admin/courses/create}">Courses</a>
        </li>
        <li class="col-4 list-group-item text-center">
            <a class="nav-link d-inline-flex" th:href="@{/admin/teachers/register}">Teachers</a>
        </li>
        <li class="col-4 list-group-item text-center">
            <a class="nav-link d-inline-flex" th:href="@{/admin/students/create}">Students</a>
        </li>
    </ul>
</div>