<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container mt-5">

    <div th:insert="components/creationPanel :: creationPanel"/>
    <div class="mt-5">
        <form th:action="@{/admin/courses/create}" method="post">

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{courseCreate.courseName}"></span>
                <input class="form-control" aria-label="With textarea" type="text" th:name="name"
                       placeholder="Course Name">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{courseCreate.topic}"></span>
                <select th:name="topicId" class="custom-select">
                    <option
                            th:each="t:${topics}"
                            th:value="${t.getId()}"
                            th:text="${t.getName()}"/>
                </select>
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{courseCreate.capacity}"></span>
                <input class="form-control" aria-label="With textarea" type="number" th:min="10" th:max="150" th:name="capacity"
                       placeholder="Capacity">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{courseCreate.semesterStart}"></span>
                <input class="form-control" aria-label="With textarea" type="number" th:min="1" th:max="8" th:name="semesterStart"
                       placeholder="Semester Start">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{courseCreate.duration}"></span>
                <input class="form-control" aria-label="With textarea" type="number" th:min="1" th:max="2" th:name="semesterDuration"
                       placeholder="Semester Duration">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{courseCreate.description}"></span>
                <input class="form-control" aria-label="With textarea" type="text" th:name="description"
                       placeholder="Description">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{courseCreate.teacher}"></span>
                <select th:name="teacherId" class="custom-select">
                    <option
                            th:each="t:${teachers}"
                            th:value="${t.getId()}"
                            th:text="${t.getLastName()} + ' ' + ${t.getFirstName()} + ' ' + ${t.getSecondName()}"/>
                </select>
            </div>

            <button type="submit" class="btn btn-light btn-lg btn-block" th:text="#{courseCreate.create}"></button>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>