<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container mt-5">

    <div th:insert="components/creationPanel :: creationPanel"/>

    <!--        <div th:insert="components/registerStudentForm :: registerStudentForm"/>-->

    <div class="mt-5">
        <form th:action="@{/admin/students/create}" method="post" th:object="${userForm}">

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{studentRegister.firstName}"></span>
                <input type="text" class="form-control" th:field="*{firstName}" placeholder="Enter First Name">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{studentRegister.secondName}"></span>
                <input type="text" class="form-control" th:field="*{secondName}" placeholder="Enter Second Name">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{studentRegister.lastName}">x</span>
                <input type="text" class="form-control" th:field="*{lastName}" placeholder="Enter Last Name">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{studentRegister.email}"></span>
                <input type="email" class="form-control" th:field="*{email}" placeholder="Enter Email">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{studentRegister.password}"></span>
                <input type="password" class="form-control" th:field="*{password}" placeholder="Enter Password">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text" th:text="#{studentRegister.course}"></span>
                <input type="number" th:field="*{courseNum}" class="form-control" th:min="1" th:max="4">
            </div>

            <div>
                <span th:text="${message}" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-light btn-lg btn-block" th:text="#{studentRegister.register}"></button>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>