<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container mt-5">


    <div th:insert="components/creationPanel :: creationPanel"/>

    <div class="mt-5">
        <form th:action="@{/admin/teachers/register}" method="post" th:object="${teacherForm}">

            <div class="input-group p-1">
                <span class="input-group-text">First Name :</span>
                <input class="form-control" aria-label="With textarea" type="text" th:field="*{firstName}"
                       placeholder="Name">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text">Second Name :</span>
                <input class="form-control" aria-label="With textarea" type="text" th:field="*{secondName}"
                       placeholder="Second Name">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text">Last Name :</span>
                <input class="form-control" aria-label="With textarea" type="text" th:field="*{lastName}"
                       placeholder="Last Name">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text">Email :</span>
                <input class="form-control" aria-label="With textarea" type="text" th:field="*{email}"
                       placeholder="Email">
            </div>

            <div class="input-group p-1">
                <span class="input-group-text">Password :</span>
                <input class="form-control" aria-label="With textarea" type="text" th:field="*{password}"
                       placeholder="Password">
            </div>

            <button class="btn btn-light btn-lg btn-block" type="submit">Register new teacher</button>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>