<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container mt-5">
    <div class="mt-2">
        <form th:action="@{/teacher/{courseId} (courseId=${courseId})}" method="get">
            <div class="input-group p-1">
                <span class="input-group-text">Year :</span>
                <input class="form-control" aria-label="With textarea" type="number" name="year"
                       placeholder="Рік">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-2">Search</button>
        </form>
    </div>

    <div class="mt-5">
        <table class="table border-primary table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Student Name</th>
                <th>Course</th>
                <th>Record Time</th>
                <th>Mark</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student,iter:${courseStudentsDto.getStudents()}">
                <form th:action="@{/teacher/{courseId}/student/{studentId}(courseId=${courseStudentsDto.getCourse().getId()}, studentId=${student.getStudent().getId()})}"
                      method="post">
                    <td th:text="${iter.index+1}"/>
                    <td th:text="${student.getStudent().getLastName()} + ' ' + ${student.getStudent().getFirstName()} + ' ' + ${student.getStudent().getSecondName()}"/>
                    <td th:text="${student.getStudent().getCourseNum()}"/>
                    <td th:text="${student.getRecordingTime()}"/>
                    <td><input type="number" th:value="${student.getMark()}" name="mark"></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>