<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
це сторынка яка показуэ ынформацыю про певний курс, тут курс можна редагувати
або видалити
<form
        th:action="@{/admin/courses/{id} (id=${course.getId()})}" method="post"
>


</form>

<form th:action="@{/admin/courses/{id} (id=${course.getId()})}"
      method="post" >

    <input type="text" th:value="${course.getName()}" th:name="name">
    <button type="submit" th:name="action" th:value="save">save</button>
    <button type="submit" th:name="action" th:value="delete">delete</button>

</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>