<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
тут всі курси та фільтр для швидкого пошуку потрібного, з кнопками видалити\редагувати
Зробити пагінацію

<div>
    <form action="/admin/courses" method="get">
        <div>
            <div>
                <label th:text="Course"/>
                <input type="text" name="courseName">
            </div>
            <div>
                <label th:text="Duration"/>
                <input type="number" name="duration">
            </div>
            <div>
                <label th:text="Capacity"/>
                <input type="number" name="capacity">
            </div>
            <div>
                <label th:text="Topic"/>
                <input type="text" name="topic">
            </div>
            <div>
                <label th:text="Teacher"/>
                <input type="text" name="teacherName">
            </div>
        </div>
        <input type="submit" th:value="Filter">
    </form>
    <div th:each="c:${courses}">
        <label th:text="${c.getName()}" />
    </div>
</div>

</body>
</html>