<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

це сторінка певного вчиталя, тут можна додати до нього новий курс чи видалити цей курс

<div>
    <div th:each="course:${courses}">
        <div>
            <label th:text="${course.getName()}"/>
            <button><a
                    th:href="@{/admin/teachers/{teacherId}/course-delete/{courseId} (teacherId=${teacherId}, courseId=${course.getId()})}">DELETE</a>
            </button>
        </div>
    </div>

    <form th:action="@{/admin/teachers/{teacherId} (teacherId=${teacherId})}" method="post">
        <select th:name="courseId">
            <option
                    th:each="course:${coursesList}"
                    th:value="${course.getId()}"
                    th:text="${course.getName()}"/>
        </select>
        <input type="submit" th:value="AddCourse">
    </form>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>