<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container mt-5">

    <div class="d-flex justify-content-center">
        <h1 th:text="${courseInfoDto.getCourse().getName()}"/>
    </div>

    <div class="mt-2">
        <table class="table table-bordered border-primary">
            <tbody>
            <tr>
                <td th:text="#{course.topic}"></td>
                <th th:text="${courseInfoDto.getCourse().getTopic().getName()}"/>
            </tr>

            <tr>
                <td th:text="#{course.capacity}"></td>
                <th th:text="${courseInfoDto.getCourse().getCapacity()}"/>
            </tr>

            <tr>
                <td th:text="#{course.semester}"></td>
                <th th:text="${courseInfoDto.getCourse().getSemesterStart()}"/>
            </tr>

            <tr>
                <td th:text="#{course.duration}"></td>
                <th th:text="${courseInfoDto.getCourse().getSemesterDuration()}"/>
            </tr>

            <tr>
                <td th:text="#{course.description}"></td>
                <th th:text="${courseInfoDto.getCourse().getDescription()}"/>
            </tr>

            <tr>
                <td th:text="#{course.teacher}"></td>
                <td th:text="${courseInfoDto.getCourse().getTeacher().getLastName()} + ' ' + ${courseInfoDto.getCourse().getTeacher().getFirstName()} + ' ' + ${courseInfoDto.getCourse().getTeacher().getSecondName()}"/>
            </tr>

            </tbody>
        </table>
    </div>

    <table class="table table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{course.name}"></th>
            <th th:text="#{course.course}"></th>
            <th th:text="#{course.recordTime}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student,iter:${courseInfoDto.getEnrolledStudent()}">
            <td th:text="${iter.index+1}"/>
            <td th:text="${student.getStudent().getLastName()} + ' ' + ${student.getStudent().getFirstName()} + ' ' + ${student.getStudent().getSecondName()}"/>
            <td th:text="${student.getStudent().getCourseNum()}"/>
            <td th:text="${student.getRecordingTime()}"/>
        </tr>
        </tbody>
    </table>

    <div th:if="${canEnroll}">
        <form th:action="@{/courses/{courseId} (courseId=${courseId})}" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" th:text="#{course.enroll}"></button>
        </form>
    </div>
    <div th:if="!${canEnroll}">
        <a class="btn btn-primary btn-lg btn-block" href="/login" role="button" th:text="#{course.login}"></a>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>