<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<form th:action="@{/register}" method="post" th:object="${userForm}">

    <div>
        <label th:text="FirstName"/>
        <input type="text" th:field="*{firstName}">
    </div>

    <div>
        <label th:text="SecondName"/>
        <input type="text" th:field="*{secondName}">
    </div>

    <div>
        <label th:text="LastName"/>
        <input type="text" th:field="*{lastName}">
    </div>

    <div>
        <label th:text="Email"/>
        <input type="email" th:field="*{email}">
    </div>

    <div>
        <label th:text="Password"/>
        <input type="password" th:field="*{password}">
    </div>

    <div>
        <label th:text="Course"/>
        <input type="number" th:field="*{courseNum}">
    </div>

    <input type="submit" th:value="Register">
</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>